.carousel {
  position: relative;
  margin: 0rem 0.5rem 0.25rem;
  height: 3.15rem;
  margin-bottom: 0.25rem;
  overflow: hidden;
  border-radius: 0.2rem;
}
.carousel div {
  height: 3.15rem;
  width: 8.375rem;
  position: absolute;
  display: flex;
  left: -0.025rem;
}
.carousel div a {
  z-index: 1;
}
.carousel div a img {
  height: 3.15rem;
}
